{% extends "base.html" %}
{% block content %}

    <div class="row main-intro center-align cols12">
        <h2 class="main-title grey-text text-darken-2 col s12">
            Whole Food Plant Based Recipes
        </h2>
        <p class="grey-text text-darken-2">
            The idea behind the whole-food, plant-based diet (WFPB for short) is surprisingly simple: Eat whole, unrefined, plant-based foods. 
            The goal is to eat a large variety of minimally processed foods. And the best part? There aren’t a bunch of rules or restrictions. 
            There’s no calorie counting, you don’t have to worry about eating raw versus cooked and the list of things you can enjoy is robust.
        </p>
    </div>
    <div id="recipes">
        <div class="row recipes-overview">
            {% for recipe in recipes %}
                <div class="col s12 m4">
                    <div class="card grey-text text-darken-2">
                        <div class="card-image">
                            <img class="recipe_img" src="{{ recipe.recipe_img }}" alt="recipe photo">
                        </div>
                        <div class="card-content">
                            <h3 class="card-title center-align">{{ recipe.recipe_name }}</h3>
                            <p class="center-align category"><strong>Category:</strong> {{ recipe.category_name }}</p>
                            <p class="center-align category"><strong>Cuisine:</strong> {{ recipe.recipe_cuisine }}</p>
                            <p class="center-align category"><strong>Author:</strong> {{ recipe.author }}</p>
                        </div>
                        <div class="card-action center-align deep-orange lighten-4">
                            <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}" class="white-text"> Go to recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

