{% extends "base.html" %}
{% block content %}

    <div class="row recipe-header center-align col s12">
        <h2 class="center-align">{{ recipe.recipe_name }}</h2>
        <h5 class="sub-title center-align">Created by: {{ recipe.author }}</h5>
    </div>

    <div class="row recipe-info center-align col s12">
        <p><strong>Cuisine:</strong> {{ recipe.recipe_cuisine }}</p>
        <p><strong>Category:</strong> {{ recipe.category_name }}</p>
        <p><strong>Cooking time:</strong> {{ recipe.cooking_time }}</p>
        <p><strong>Servings:</strong> {{ recipe.serving_nr }}</p>
    </div>

    <div class="row recipe-img center-align col s12">
        <img src="{{ recipe.recipe_img }}" style="max-height: 45vh">
    </div>

    <div class="row">
        <div class="ingredients">
        <h4 class="ingredients center-align">Ingredients</h4>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Measure</th>
                        <th>Ingrediant</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ recipe.ing_amount }}</td>
                        <td>{{ recipe.measure }}</td>
                        <td>{{ recipe.recipe_ing }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h4 class="preparation center-align">Preparation</h4>
        <ol>
            <li>{{ recipe.directions }}</li>
        <ol>
    </div>

    <div class="row center-align">
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Edit Recipe</a>
        <a class="waves-effect waves-light deep-orange btn-small">Delete Recipe</a>
    </div>
    


{% endblock %}