{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <h4 class="center-align">
                    Welcome, {{ username }}
            </h4>
        </div>
    </div>

    <div class="row">
    <div class = "col s12 center-align">
        Please select one of the categories below to find your next recipe.
    </div>
</div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1 center-align">
                <div class="card-content white-text">
                    <span class="card-title deep-orange-text text-lighten-4 center-align"><h4>Soups</h4></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="deep-orange-text text-lighten-4">Check out our soup recipes here <i class="small material-icons"> menu_book</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1 center-align">
                <div class="card-content white-text">
                    <span class="card-title deep-orange-text text-lighten-4 center-align"><h4>Main Course</h4></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="deep-orange-text text-lighten-4">Select main course <i class="small material-icons"> menu_book</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1 center-align">
                <div class="card-content white-text">
                    <span class="card-title deep-orange-text text-lighten-4 center-align"><h4>Desert</h4></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="deep-orange-text text-lighten-4">Select deserts <i class="small material-icons"> menu_book</i></a>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}